{
    "select_all_checkbox": "/xpath/to/grid-select-all-checkbox",
    "select_all_btn": "#css-selector-for-select-all-pages-button",
    "pendo_close_guide": "#css-id-for-pendo-close-button",
    "pendo_close_class": "class-name-of-pendo-close-guide",
    "export_float_btn": "/xpath/template/with/{i}/placeholder/for-floating-export-button",
    "export_products_item": "/xpath/with/{div}/and/{row}/for-export-products-menu-item",
    "popup_title": "/xpath/to/popup-modal-title",
    "restrict_close_btn": "/xpath/to/restrict-dialog-close-button",
    "templates_select": "#css-selector-for-template-dropdown",
    "custom_export_radio": "/xpath/to/custom-export-radio",
    "export_next_btn": "/xpath/to/export-wizard-next-button",
    "export_wizard_next_btn": "#css-selector-for-template-wizard-next-button",
    "notify_download_link": "#css-selector-for-notify-download-link",
    "download_btn": "#css-selector-for-report-page-download-button"
}
